In [2]:
import mysql.connector
from mysql.connector import Error
import os
import datetime
from dotenv import load_dotenv

In [3]:
user_password = os.environ.get('mysql_password')

In [4]:
try:
    connection = mysql.connector.connect(host = 'localhost', user = 'root',
                                         password = user_password, database = 'franchise')
    print('connection to database was successful')
except Error as err:
    print(err) #mysql will give you an error but you wont see it in python.
                #So to see it in python, we call the error message with "err" and print it

connection to database was successful

In [5]:
#This code inserts one by one
insert_prd = '''
insert into products (product_id, product_name, stock_count, price)
values (%s, %s, %s, %s)
'''

try:
    with connection.cursor(buffered=True) as cursor:
        #'as' means "=", i.e cursor = connection.cursor
        cursor.execute(insert_prd, ('prd101', '5okg cap rice', 20, 84000))
        connection.commit()
        print(f'{cursor.rowcount} record(s) successfully entered')

except Error as err:
    print(err)

1062 (23000): Duplicate entry 'prd101' for key 'products.PRIMARY'

In [6]:
products = [('prd102', '5litre sunola oil', 30, 11500),
            ('prd103', 'Ducros Curry', 50, 850),
            ('prd104', 'pink himalayan salt', 10, 5000),
            ('prd105', 'Dangote salt 1kg', 100, 350),
            ('prd106', 'Golden penny spag', 35, 900)]

In [7]:
#This code inserts in  bulk
insert_prd = '''
insert into products (product_id, product_name, stock_count, price)
values (%s, %s, %s, %s)
'''

try:
    with connection.cursor(buffered=True) as cursor:
        cursor.executemany(insert_prd, products)
        connection.commit()
        print(f'{cursor.rowcount} record(s) successfully entered')

except Error as err:
    print(err)

1062 (23000): Duplicate entry 'prd102' for key 'products.PRIMARY'

In [8]:
#this would also work
try:
    with connection.cursor(buffered = True) as cursor:
            cursor.executemany(insert_prd, [('prd107', '5litre sunola oil', 30, 11500),
                               ('prd108', 'Ducros Curry', 50, 850),
                               ('prd109', 'pink himalayan salt', 10, 5000),
                               ('prd110', 'Dangote salt 1kg', 100, 350),
                               ('prd111', 'Golden penny spag', 35, 900)])
            connection.commit()
            print(f"{cursor.rowcount} record(s) successfully entered")
except Error as err:
    print(err)

1062 (23000): Duplicate entry 'prd107' for key 'products.PRIMARY'

In [ ]:
#this didnt work as its not a list
try:
    with connection.cursor(buffered = True) as cursor:
            cursor.executemany(insert_prd, ('prd107', '5litre sunola oil', 30, 11500),
                               #gave error cos its not in a list
                               ('prd108', 'Ducros Curry', 50, 850),
                               ('prd109', 'pink himalayan salt', 10, 5000),
                               ('prd110', 'Dangote salt 1kg', 100, 350),
                               ('prd111', 'Golden penny spag', 35, 900))
            connection.commit()
            print(f"{cursor.rowcount} record(s) successfully entered")
except Error as err:
    print(err)

In [10]:
#try one record input for customers too
insert_customer = '''
insert into customers (customer_id, cusstomer_name, phone_number, email_address, address)
values(%s, %s, %s, %s, %s)
'''

try:
    with connection.cursor(buffered=True) as cursor:
        cursor.execute(insert_customer, ('cst104', 'Adu Ayomide', '07035728088', 'aduayomide44@gmail.com', 'Iyaganku Estate'))
        connection.commit()
        print(f'{cursor.rowcount} record(s) successfully entered')
except Error as err:
    print(err)

1062 (23000): Duplicate entry 'cst104' for key 'customers.PRIMARY'

In [11]:
#this will also work, which is what she used below
try:
    with connection.cursor(buffered=True) as cursor:
        #You can just put this "insert_customer" inside the with command
        insert_customer = '''
                        insert into customers (customer_id, cusstomer_name, phone_number, email_address, address)
                        values(%s, %s, %s, %s, %s)
                        '''
        cursor.execute(insert_customer, ('cst105', 'Adu Ayomide', '07035728088', 'aduayomide44@gmail.com', 'Iyaganku Estate'))
        connection.commit()
        print(f'{cursor.rowcount} record(s) successfully entered')
except Error as err:
    print(err)

1062 (23000): Duplicate entry 'cst105' for key 'customers.PRIMARY'

In [12]:
customer = [('cst101', 'Ayomide', '08033445566', 'ayomide@gmail.com', 'bodija'),
            ('cst102', 'Hakeem', '07012345678', 'hakeem01@gmail.com', 'iyaganku'),
            ('cst103', 'Johnson', '08111447738', 'johnne@gmail.com', 'elebu')]

In [13]:
insert_cst = '''
insert into customers (customer_id, cusstomer_name, phone_number, email_address, address)
values (%s, %s, %s, %s, %s)
'''

try:
    with connection.cursor(buffered=True) as cursor:
        cursor.executemany(insert_cst, customer)
        connection.commit()
        print(f'{cursor.rowcount} record(s) successfully entered')

except Error as err:
    print(err)

1062 (23000): Duplicate entry 'cst101' for key 'customers.PRIMARY'

In [14]:
#For the sales table that has time
import datetime
d = datetime.datetime.now()
orderdate = d.strftime('%Y-%m-%d %H:%M:%S')
orderdate

'2024-07-24 09:59:18'

In [15]:
# insert_sales = '''
# insert into sales (customer_id, order_date)
# values (%s, %s)
# '''
# sales_id = '''
# select max(sales_id) from sales
# '''
# customer_id = 'cst102'
# try:
#     with connection.cursor(buffered=True) as cursor:
#         cursor.execute(insert_sales, (customer_id, orderdate))
#         cursor.execute(sales_id)
#         print(sales_id)
# except Error as err:
#     print(err)

In [18]:
insert_sales = '''
insert into sales (customer_id, order_date)
values (%s, %s)
'''
osales_id = '''
select max(sales_id) from sales
'''

customer_id = 'cst102'
cst_order = [('prd102', 6),
             ('prd101', 2)]

prd_from_customer = '''
select price, stock_count, product_name from products
where product_id = %s
'''

try:
    with connection.cursor(buffered=True) as cursor:
        cursor.execute(insert_sales, (customer_id, orderdate))
        cursor.execute(osales_id)
        sales_id = cursor.fetchone()[0]
        print(sales_id)
        
        #so we have filled the table with the products we have and the informaions,
        # we then want to call what we have filled and use for our new customers(s) info
        for prd_id, quantity_ordered in cst_order: 
            cursor.execute(prd_from_customer, (prd_id))
            fetched_prd_price = cursor.fetchone()
            fetched_stock_count = cursor.fetchone()
            fetched_prd_name = cursor.fetchone()
        #done with this, next is to reduce

        if fetched_stock_count>=quantity_ordered:
            new_qty = fetched_stock_count-quantity_ordered

        update_products = '''
        update products set stock_counts = %s
        where product_id = %s
        '''
        cursor.execute(update_products, (new_qty,prd_id))
        #done, products, customers, and sales are handled. finally now to sales details

        total = quantity_ordered * fetched_prd_price
        insert_salaes_details = '''
                                insert from sales_details (sales_id, product_id, quantity, total)
                                values (%s, %s, %s, %s)
                                '''
        cursor.execute(insert_salaes_details, osales_id, )

except Error as err:
    print(err)

9
Could not process parameters: str(prd102), it must be of type list, tuple or dict

In [ ]:
total = quantity_ordered * fetched_prd_price
print(total)